h1 {
  text-align: center;
  /* margin: 50px auto; */
}
table {
  margin: 50px auto;
}
td {
  width: 100px;
  height: 100px;
  margin: 1px 1px;
  /* padding: 5px 5px; */
  /* border: 1px black solid; */
}
#one td:nth-of-type(1) {
  border-right: 1px black solid;
  border-bottom: 1px black solid;
}
#one td:nth-of-type(2) {
  /* border-right: 1px black solid; */
  /* border-left: 1px black solid; */
   border-bottom: 1px black solid;
}
#one td:nth-of-type(3) {
  border-left: 1px black solid;
  border-bottom: 1px black solid;
}
#two td:nth-of-type(1) {
  border-right: 1px black solid;
  /* border-bottom: 1px black solid; */
}
#two td:nth-of-type(2) {
  /* border-right: 1px black solid; */
  /* border-left: 1px black solid; */
   /* border-bottom: 1px black solid; */
}
#two td:nth-of-type(3) {
  border-left: 1px black solid;
  /* border-bottom: 1px black solid; */
}
#three td:nth-of-type(1) {
  border-right: 1px black solid;
  border-top: 1px black solid;
}
#three td:nth-of-type(2) {
  /* border-right: 1px black solid; */
  /* border-left: 1px black solid; */
   border-top: 1px black solid;
}
#three td:nth-of-type(3) {
  border-left: 1px black solid;
  border-top: 1px black solid;
}
